<div class= 'customize_commission' style="display: none">
<h3>Personalizar comisión</h3>
	<%=form_for :commission , url: create_commission_path  do |f|%>

    <p>Indica las nuevas comisiones por depósito y por tarjeta:</p>
    <div class="row">
    	<div class="col-sm-2">
			 	 <p>Depósito:   $</p>
			</div>
   		<div class="col-sm-3">
			 	 <%= f.text_field :deposit, value: 10.00, class: "form-control", onkeypress: "return isNumberKeyorPoint(event)"%>
			</div> 
			<div class="col-sm-1">
			</div>   
    </div>
    <div class="row">
    	<div class="col-sm-2">
			 	 <p>Tarjeta:</p> 
			</div>
   		<div class="col-sm-3">
			 	 <%= f.text_field :card, value: 3.5, class: "form-control", onkeypress: "return isNumberKeyorPoint(event)"%>
			</div>
			<div class="col-sm-1">
			%
			</div> 
    </div>
    <%= f.hidden_field :type, value: @type%></p>
    <%= f.hidden_field :id, value: params[:id]%></p>
    
    <p>*Nota: Las comisiones son por ticket.</p>
   	<button type='button' id= "btn-cancel" class="btn btn-cstom">Cancelar</button>
    <%= f.submit("Personalizar", class: "btn btn-cstom") %>

	<%end%>

</div>