<div class= 'customize_commission' style="display: none">

	<%=form_for :commission , url: create_commission_path  do |f|%>

    <p>Indica las nuevas comisiones por depósito y por tarjeta:</p>

    <p>Depósito: 
    $<%= f.text_field :deposit, value: 10.00, class: "form-control", onkeypress: "return isNumberKeyorPoint(event)"%></p>

    <p>Tarjeta: 
    <%= f.text_field :card, value: 3.5, class: "form-control", onkeypress: "return isNumberKeyorPoint(event)"%>%</p>
    <%= f.hidden_field :type, value: 1%></p>
    <%= f.hidden_field :id, value: params[:event_id]%></p>
    
    <p>*Nota: Las comisiones son por ticket.</p>
   	<button type='button' id= "btn-cancel" class="btn btn-cstom">Cancelar</button>
    <%= f.submit("Personalizar", class: "btn btn-cstom") %>

	<%end%>

</div>