<div class = "row">
	<div class = "col-sm-8 col-sm-offset-2">

			<% if @status%>
		<div class="event-group">	

				<div class = "title-event text-center">
					<h3>Evento:  <%= @event.name%></h3>
				</div>
				<br>
				<div class= "event-data text-center">
					<p>#ID: <%= @event.id%></p>
					<p><%= @event.category%></p>
					<p>En <%= @event.place%></p>
					<p>el día <%= @event.date_event%></p>
					<p>Descripción: <%= @event.description%></p>
					<p>Organizado por: <%= @user%></p>
				</div>
				<br>
				<div class = "event-buttons commission-btn text-center">
					<% if @event.hasCommission %>
						<button type='button' class='btn bt-cstm btn-event'><%= link_to "Eliminar comisión personalizada", 
			      { controller: 'commission', action: 'destroy', id: @event.commission.id }, data:
			      { confirm: "¿Estás seguro de eliminar la comisión personalizada?", 
			      	method: :delete, remote: false}%></button>
					<%else%>
					<button type='button' id='customize' class='btn btn-cstm btn-event'>Personalizar comisión</button>
						<%= render 'commission/custom_form',
						object: @type = '1' %>
					<%end%>
				</div>					
		</div>
		<br><br>
			<div class= "row">
				<div class = "col-sm-6 event-buttons return-btn text-center">
						<button type='button' id='btn-return' class='btn btn-cstm btn-event'><%=link_to "Regresar a Inicio", root_path %></button>
				</div>
				<div class = " col-sm-6 event-buttons simulation-btn text-center">
					<button type='button' id='btn-simulate' class='btn btn-cstm btn-event'><%=link_to "Simular compra", new_booking_path(:event => @event.id) %></button>
				</div>
			</div>

		<%else%>
			<div class="event-no-found">
	 			<div class="row text-center">
	 				<div class="col-sm-12">
	 					<h4>El evento que indicaste no pudo ser encontrado. Por favor, intenta otra vez.</h4>
	 				</div>
	 				<div class="row">
		 				<div class="col-sm-10 col-sm-offset-1">	
		 					<%= render partial: 'event/search'%>
		 				</div>
	 				</div>
	 				<br>
	 				<div class = "event-buttons return-btn text-center">
						<button type='button' id='btn-return' class='btn btn-cstm btn-event'><%=link_to "Regresar a Inicio", root_path %></button>
					</div>
	 			</div>
	 		</div>
		<%end%>				
	</div>
</div>