<% if @status%>

	var title 			= "Evento encontrado N° <%= @event.id%><br>";
	var event 			= "Evento: <%= @event.name%><br>";
	var category 		= "<%= @event.category%><br>"
	var place 			= "En <%= @event.place%>";
	var date 				= "el día <%= @event.date_event%><br>"
	var description = "Descripción: <%= @event.description%><br>"
	var organizer		= "Organizado por: <%= @user%><br>"

	$(".found_events").empty().append(title + event + category + place + date + description + organizer	);
	<% if @event.hasCommission %>
		$(".found_events").append("<%= j render(:partial => 'commission/link_delete', locals: {event_id: @event.id}) %>")
	<%else%>
		$(".found_events").append("<button type='button' id='customize' class='btn btn-cstm'>Personalizar comisión</button>");
		$(".found_events").append("<%= j render(:partial => 'commission/custom_form', locals: {event_id: @event.id}) %>");

	<%end%>
		$(".found_events").append("<button type='button' id='btn-simulate' class='btn btn-cstm'> Simular compra</button>");
	
<%else%>

	$(".found_events").empty().append('<h3>Evento no encontrado</h3>')

<%end%>
