<div class="user-group">	

	<% if @status%>
		<div class= "event-data">
		<p>Usuario encontrado N° <%= @user.id%></p>
		<p>Usuario: <%= @user.name %></p>
		<p>email:<%= @user.email %></p>
		</div>
		<div class = "event-buttons">
		<% if @user.hasCommission %>
			<%= link_to "Eliminar comisión personalizada", 
      { controller: 'commission', action: 'destroy', id: @user.commission.id }, data:
      { confirm: "¿Estás seguro de eliminar la comisión personalizada?", 
      	method: :delete, remote: false} %>
		<%else%>
			<button type='button' id='customize' class='btn btn-cstm'>Personalizar comisión</button>
			<%= render 'commission/custom_form',
			object: @type = '2' %>

		<%end%>
		<br>
			<button type='button' id='btn-simulate' class='btn btn-cstm'> Simular compra</button>
		</div>	
	<%else%>
		<h3>Usuario no encontrado</h3>
	<%end%>

</div>

<div class= "events-user">	
	<h3>Eventos que ha organizado este usuario:</h3>
	<table class="table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nombre</th>
        <th>Mas detalles</th>
        <th></th>
      </tr>
    </thead>
    <% if @user.events.length <= 0 %>
      </table>
      <h5>¡Ups! Aún no tiene eventos organizados</h5>  
    <% else %>
      <tbody>
        <% @user.events.each do |event| %>
          <tr>
            <td><%=event.id%></td>
            <td><%=event.name%></td>
            <td><%=link_to 'Detalles',event_path(event) %></td>
            <td><%= link_to ' Simular Compra',"", method: "post"%></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    <% end %> 
</div>

