<%= wicked_pdf_stylesheet_link_tag "documents" %>

	<% booking = Booking.find(params[:id])%>
	<div class = "booking_summarize">

		<div class = "title-booking text-center">
			<h2>Boletia</h2>  	
		</div>

		<div>
		<%event = Event.find(booking.event_id)%>
			<h2>Resumen de la Reservación</h2>	
			<h3> para <%=event.name%></h3>
		</div>

		<div class = "booking-details">
		<table>
		  <tr>
		    <th></th>
		    <th></th>
		  </tr>

		  <tr>
		    <td>Cantidad de boletos:</td>
		    <td><%=booking.ticket_quantity%></td>
		  </tr>

		  <tr>
		    <td>Precio unitario:</td>
		    <td>$<%=booking.price_ticket%></td>
		  </tr>

		  <tr>
		    <td> Método de pago:</td>
				<%if booking.payment_method == 'card'%>
		    	<td>Tarjeta</td>
				<% else %>
					<td>Depósito</td>
				<% end %>
		  </tr>

		  <tr>
		    <td>Comisión por boleto:</td>
		    <td>$<%=booking.ticket_commission%></td>
		  </tr>

		  <tr>
		    <td>Comisión total:</td>
		    <td>$<%=booking.total_commission%></td>
		  </tr>

		   <tr>
		    <td><strong>Precio total:</strong></td>
		    <td><strong>$<%=booking.total_price%></strong></td>
		  </tr>
		</table>			
		<br>
		</div>
</div>


