<%= wicked_pdf_stylesheet_link_tag "documents" %>
	<% booking = Booking.find(params[:id])%>
	<div class = "booking_summarize">

		<div class = "title-booking center">
			<h2>Boletia</h2>
		</div>

		<div>
		<%event = Event.find(booking.event_id)%>
			<h2>Resumen de la Reservación</h2>	
			<h3> para <%=event.name%></h3>
		</div>

		<div class = "booking-details">
			<p>Cantidad de boletos: <%=booking.ticket_quantity%></p>
			<p>Precio unitario: $<%=booking.price_ticket%></p>
			<%if booking.payment_method == 'card'%>
			<p>Método de pago: Tarjeta</p>
			<% else %>
			<p>Método de pago: Depósito</p>
			<% end %>
			<p>Comisión por boleto: $<%=booking.ticket_commission%></p>
			<p>Comisión total: $<%=booking.total_commission%></p>
			<p>Precio total:$<%=booking.total_price%></p>

		</div>
</div>